@import "../components/colorswatch";

body.login {
  background: #fff;

  #login {
    width: 450px;
  }

  form {
    box-shadow: none;
    border: none;

    input[type="text"],
    input[type="password"] {
      color: $brand-navy;
    }
  }

  &.wp-core-ui .button-primary {
    background: $brand-blue;
    border: none;
    padding: 0.5rem;
    outline: none;
    display: block;
    width: 110px;
  }
}

#login h1 a,
.login h1 a {
  background-size: 100%;
}
