@import './components/colorswatch';
@import './components/breakpoints';
@import './components/typography';
@import './components/mixins';
@import './components/utils';
@import './components/main-navigation';
@import './components/footer';
@import './components/hero-gradients';
@import './components/rotated-text';
@import './components/homepage-hero';
@import './components/homepage-blog-post';
@import './components/contact-form';
@import './components/blog-page';



::selection {
    background: $brand-blue;
    color: #fff;
}

// disable or change things for the builder mode

body.fl-builder-edit {
    .shana-homepage-hero-headshot {
        position: relative;
    }
    .contact-background-gradient {
        display: none;
    }

    .rotated-text {
        position: relative;
        transform: rotateZ(0);
        top: 0;
    }
}



